<h1>Réservations des prières </h1>

<% @bookings.each do |booking| %>
    <div>
        <p>----------------------------------------------------------</p>
        <p>----------------------------------------------------------</p>
        <h4>Informations personnelles :</h4>
        <p>Prénom : <%= booking.user.first_name %></p>
        <p>Nom : <%= booking.user.last_name %></p>
        <p>Email : <%= booking.user.email %></p>
        <p>Téléphone : <%= booking.user.phone_number %></p>
        <h4>Informations sur la prière :</h4>
        <p>Nom de la prière : <%= booking.prayer.name %></p>
        <p>Salle de la prière : <%= booking.prayer.room.name %></p>
        <p>Places restantes : <%= booking.prayer.capacity_prayer %></p>
        <p>Jour de la prière : <%= booking.prayer.day.name %></p>
        <p>Date de la réservation : <%= booking.date %></p>
    </div>
<% end %>