<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<center><h2><%= Time.now.strftime("%A %d %B %Y") %></h2></center>

<%= simple_form_for(@booking) do |f| %>
  <%= f.input :date, as: :radio_buttons, collection: [Date.today, Date.today + 1] %>

button => actif homme => Doit montrer les prayer hommes

button => Pas actif femme => Doit cacher les hommes et afficher celle des femmes

    <div class="room-homme">
  <%= f.fields_for :prayers do |ff| %>
    <%= ff.input :homme, as: :radio_buttons, collection: Day.where(name: Date.today.strftime("%A")).first.prayers.where(room_id: Room.all.first) %>
  <% end %>
  </div>
  <div class="room-femme">
  <%= f.fields_for :prayers do |ff| %>
    <%= ff.input :femme, as: :radio_buttons, collection: Day.where(name: Date.today.strftime("%A")).first.prayers.where(room_id: Room.all.last) %>
  <% end %>
  </div>
  <%= f.submit %>
<% end %>


<%# document.querySelectorAll("div")[8].removeAttribute('hidden') %>