<div class="text-container">
  <h1>ACMBOOKING</h1>
  <h2>RÉSERVER VOTRE PLACE DE PRIÈRE</h2>
  <h4>La mosquée est ouverte</h4>
  <a href="https://www.mawaqit.net/fr/mosquee-de-bonneville" target="_blank">Consulter les horaires de prières</a>
</div>

<br>

<div class="prayer-container">  

  <div class="bloc-today">
    <%= Time.now.strftime("%A %d %B %Y") %><br>
    <button id="button-homme-today" class="btn btn-primary btn-lg">HOMME</button>
    <button id="button-femme-today" class="btn btn-primary btn-lg">FEMME</button>
  </div>

  <br>

  <div class="bloc-tomorrow">
    <% tomorrow = Date.today + 1 %>
    <%= tomorrow.strftime("%A %d %B %Y") %><br>
    <button id="button-homme-tomorrow" class="btn btn-primary btn-lg">HOMME</button>
    <button id="button-femme-tomorrow" class="btn btn-primary btn-lg">FEMME</button>
  </div>

</div>

<div class="prayer-select">
  <%= simple_form_for(@booking) do |f| %>

    <div class="prayer-homme-today" hidden>
      <%= f.fields_for :prayers do |fff| %>
        <%= fff.input :prayers_homme_today, as: :radio_buttons, collection: Day.where(name: Date.today.strftime("%A")).first.prayers.where(room_id: Room.all.first) %>
      <% end %>
    </div>

    <div class="prayer-femme-today" hidden>
      <%= f.fields_for :prayers do |fff| %>
        <%= fff.input :prayers_femme_today, as: :radio_buttons, collection: Day.where(name: Date.today.strftime("%A")).first.prayers.where(room_id: Room.all.last) %>
      <% end %>
    </div>

    <div class="prayer-homme-tomorrow" hidden>
      <%= f.fields_for :prayers do |fff| %>
        <% tomorrow = Date.today + 1 %>
        <%= fff.input :prayers_homme_tomorrow, as: :radio_buttons, collection: Day.where(name: tomorrow.strftime("%A")).first.prayers.where(room_id: Room.all.first) %>
      <% end %>
    </div>

    <div class="prayer-femme-tomorrow" hidden>
      <%= f.fields_for :prayers do |fff| %>
        <% tomorrow = Date.today + 1 %>
        <%= fff.input :prayers_femme_tomorrow, as: :radio_buttons, collection: Day.where(name: tomorrow.strftime("%A")).first.prayers.where(room_id: Room.all.last) %>
      <% end %>
    </div>

    <%= f.fields_for :users do |ff| %>
      <%= ff.input :first_name %>
      <%= ff.input :last_name %>
      <%= ff.input :email %>
      <%= ff.input :phone_number %>
    <% end %>

    <div class="button-submit" hidden><%= f.submit value: "Réserver votre prière" %> </div>
    
  <% end %>
</div>

<script src="../../javascript/packs/application.js"></script>