<h1>Pages#home</h1>

<h2>Affichage des seeds du model Day :</h2>

<% @days.each do |day| %>
        <p>Nom du jour : <%= day.name %></p>
<% end %>

<p>----------------------------------------------------------------------</p>

<h2>Affichage des seeds du model Room :</h2>

<% @rooms.each do |room| %>
        <p>Nom de la salle : <%= room.name %></p>
        <p>Capacité de la salle : <%= room.capacity_room %></p>
<% end %>

<p>----------------------------------------------------------------------</p>

<h2>Affichage des seeds du model Prayers :</h2>

<% @prayers.each do |prayer| %>
        <p>Nom de la prière : <%= prayer.name %></p>
        <p>Capacité de la prière : <%= prayer.capacity_prayer %></p>
        <p>Jour de la prière : <%= prayer.day.name%></p>
        <p>Salle de la prière : <%= prayer.room.name %></p>

<p>----------------------------------------</p>
<% end %>